#page {height: 100%;}
#content {min-height: 100%;}

.aui-page-panel
{
    border-width: 1px !important;
    margin: 20px auto 0 !important;
    width: 50% !important;
}
#footer
{
	background: url() !important;
}